<div class="col s12">
    <div class="row">
        <div class="col s12 l6">
            <div class="card-panel white z-depth-2">
                <div v-if="isLoading">
                    <preloader></preloader>
                </div>
                <div v-if="!isLoading">
                    <table>
                        <tr>
                            <td>{{$t("license.active")}}</td>
                            <td v-if="license.valid" class="green-text">{{$t("license.yes")}}</td>
                            <td v-if="!license.valid" class="red-text">{{$t("license.no")}}</td>
                        </tr>
                        <tr v-if="license.name">
                            <td>{{$t("license.forUser")}}</td>
                            <td>{{license.name}}</td>
                        </tr>
                        <tr v-if="license.name">
                            <td>{{$t("license.validTo")}}</td>
                            <td>{{license_valid}}</td>
                        </tr>
                        <tr v-if="license.notes">
                            <td>{{$t("license.desc")}}</td>
                            <td>{{license.notes}}</td>
                        </tr>
                    </table>
                    <div v-if="!license.valid">
                        <h5>{{$t("license.howToUpdate")}}</h5>
                        {{$t("license.howToUpdateDesc")}}
                        <br>
                        XXXX-XXXX-XXXX-XXXX
                        <br><br>
                        {{$t("license.helpCmd")}}
                        <blockquote class="copypaste">
                            aimpanel key set {{$t("license.yourKey")}}
                        </blockquote>
                        {{$t("license.example")}}
                        <blockquote>
                            aimpanel key set 46FP-1WHD-EX45-NZPE
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
