<div class="col s12">
    <div class="row">
        <div class="col s12">
            <div class="card-panel white z-depth-2">
                <div class="row">
                    <div class="col s12 l6 center">
                        <h5>RAM w MB</h5>
                        <canvas id="ram"></canvas>
                        <div id="cpuSpark"></div>
                        <p>Odświeżanie wykresu co 5sek</p>
                    </div>
                    <div class="col s12 l6">
                        <h5>Jak rozumieć zużycie RAMu?</h5>
                        <p>
                            <strong>Aplikacje</strong> - pamięć zużyta przez aplikacje aby te mogły działać, jest to główny powód dla posiadania RAMu :)
                            <br><br>
                            <strong>Cache</strong> - często odczytywane dane z dysku są przechowywane w pamięci aby system mógł je szybciej odczytywać.
                            <br><br>
                            <strong>Bufory</strong> - obszar do którego zbierane są dane do zapisu na dysk, może być duży jeśli dysk jest zbyt wolny.
                            <br><br>
                            <strong>Nieużywane</strong> - pamięć całkowicie nieużywana i gotowa do "zasiedlenia", według jądra Linux jest to zmarnowany RAM, lepiej gdy jest przeznaczony na cache.
                            <br><br>
                            System operacyjny sam dba o odpowiednie wartości pamięci cache oraz buforów. Nie jest wymagana interwencja użytkownika.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-panel white z-depth-2">
                <div class="row">
                    <div class="col s12 l6 center">
                        <h5>CPU w %</h5>
                        <canvas id="cpu"></canvas>
                        <p>Odświeżanie wykresu co 5sek</p>
                    </div>
                    <div class="col s12 l6">
                        <h5>Co zużywa czas procesora?</h5>
                        <p>
                            <strong>usr</strong> - aplikacje w systemie np. serwery gier<br>
                            <strong>idle</strong> - nieużywany<br>
                            <strong>sys</strong> - jądro systemu<br>
                            <strong>nice</strong> - mało ważne zadania w systemie<br>
                            <strong>iowait</strong> - oczekiwanie zapisu na dysk<br>
                            <strong>irq</strong> - sterowniki urządzeń<br>
                            <strong>soft</strong> - sterowniki urządzeń c.d.<br>
                            <strong>steal</strong> - inne VPSy na maszynie lub przekraczanie twojego przydziału CPU<br>
                            <strong>guest</strong> - tworzenie wirtualnych procesorów<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
