<li class="menuButton" v-show="$root.logged && enabled" v-repeat="menu">
    <i class="fa fa-fw fa-{{icon}} black-text"></i>
    <a class="waves-effect waves-light" href="#/{{href}}">
        {{name}}
    </a>
</li>
<li class="menuButton" v-if="$root.logged">
    <i class="fa fa-fw fa-sign-out black-text"></i>
    <a class="waves-effect waves-light" v-on="click: $root.doLogout">
        {{$t("auth.logout")}}
    </a>
</li>
<li class="menuButton" v-if="!$root.logged">
    <i class="fa fa-fw fa-sign-in black-text"></i>
    <a class="waves-effect waves-light" href="#/auth/login">
        {{$t("auth.signIn")}}
    </a>
</li>