<div class="col s12">
    <div class="row">
        <div class="col s12 center">
            <div class="card-panel white z-depth-2">
                <div v-if="isLoading">
                    <preloader></preloader>
                </div>
                <div v-if="!isLoading"> 
                    <table v-show="services.length > 0" class="white hoverable responsive-table">
                        <thead>
                            <tr>
                                <th data-field="id">ID</th>
                                <th>{{$t("servers.state")}}</th>
                                <th>{{$t("servers.console")}}</th>
                                <th data-field="actions">{{$t("servers.actions")}}</th>
                                <th>{{$t("servers.remove")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-repeat="services">
                                <td>{{serv.toUpperCase()}} {{id}}</td>
                                <td v-if="state=='RUNNING'" class="green-text">{{$t("servers.on")}}</td>
                                <td v-if="state=='STOPPED'" class="red-text">{{$t("servers.off")}}</td>
                                <td>
                                    <a href="#/{{serv}}/{{id}}/console" class="btn btn-pad black"><i class="fa fa-terminal"></i></a>
                                </td>
                                <td>
                                    <div v-show="ifWorking(id,serv)" class="btn grey"><i class="fa fa-cogs"></i></div>
                                    <div v-show="!ifWorking(id,serv)" v-on="click: apiAction(id,serv,'start')" v-if="state=='STOPPED'" class="btn btn-pad green"><i class="fa fa-play"></i></div>
                                    <div v-show="!ifWorking(id,serv)" v-on="click: apiAction(id,serv,'restart')" v-if="state=='RUNNING'" class="btn btn-pad yellow darken-3"><i class="fa fa-refresh"></i></div>
                                    <div v-show="!ifWorking(id,serv)" v-on="click: apiAction(id,serv,'stop')" v-if="state=='RUNNING'" class="btn btn-pad red"><i class="fa fa-stop"></i></div>
                                </td>
                                <td>
                                    <div v-on="click: deleteServerModal(id,serv)" class="btn btn-pad red"><i class="fa fa-remove"></i></div>
                                </td>
                            </tr>
                            <tr v-show="empty">
                                <td>{{$t("servers.empty")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="services.length == 0 && !isLoading" class="tooltipped" data-position="bottom" data-delay="50" v-attr="data-tooltip:$t('servers.addTooltip')">
                    {{$t("servers.emptyMaybeAddNew")}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a v-modal="addServer" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="addServer" class="modal">
    <div class="modal-content">
        <h4>{{$t("servers.addServer")}}</h4>
        <div>
            <div class="row" v-if="serverInstallingError">
                <div class="col s10 red-text">
                    <i style="margin-right:15px" class="fa fa-2x fa-exclamation-triangle red-text"></i><span>{{serverInstallingErrorMsg}}</span>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div v-if="!serverInstalling" class="input-field col s6">
                            <i class="material-icons prefix">info_outline</i>
                            <input id="newServerId" type="text" class="validate">
                            <label id="newServerValidator" for="newServerId">{{$t("servers.addModal.idLabel")}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div v-if="!serverInstalling" class="col s6">
                            <div class="row">
                                <div class="col s1">
                                    <i class="fa fa-2x fa-cogs"></i>
                                </div>
                                <div class="col s10">
                                    <select v-model="serviceToInstall" class="browser-default">
                                        <option value="" disabled selected>{{$t("servers.addModal.serverType")}}</option>
                                        <option value="mc">Minecraft</option>
                                        <option value="ts3">TeamSpeak 3</option>
                                        <option value="ts3mb">TeamSpeak 3 Musicbot</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="serverInstalling" >
                        <div class="col s12">
                            <preloader></preloader>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div v-if="!serverInstalling" v-on="click: addServer" class="white-text modal-action green waves-effect waves-green btn-flat">{{$t("servers.addModal.clickToAdd")}}</div>
        <div v-if="serverInstalling" class="modal-action waves-effect waves-green btn-flat">{{$t("servers.addModal.working")}}</div>
    </div>
</div>

<div id="deleteServer" class="modal">
    <div class="modal-content">
        <h4>{{$t("servers.removeModal.removeServer")}}</h4>
        <p>
            {{{$t("servers.removeModal.areYouSure")}}}
        </p>
    </div>
    <div class="modal-footer">
        <div v-on="click: deleteServer" class="red white-text modal-action btn-flat">{{$t("servers.removeModal.yesDestroy")}}</div>
    </div>
</div>
