<div class="col s12">
    <div class="row">
        <div class="card-panel col s12 l6 z-depth-2 white">
            <div v-if="isLoading">
                <preloader></preloader>
            </div>
            <table v-if="!isLoading && serverProperties">
                <tr>
                    <td>{{$t("server.mc.info.portGame")}} (TCP)</td>
                    <td>{{serverProperties["server-port"]}}</td>
                </tr>
                <tr>
                    <td>{{$t("server.mc.info.portQuery")}} (UDP)</td>
                    <td>{{serverProperties["query.port"]}}</td>
                </tr>
                <tr>
                    <td>{{$t("server.mc.info.portRcon")}} (TCP)</td>
                    <td>{{serverProperties["rcon.port"]}}</td>
                </tr>
                <tr>
                    <td>{{$t("server.mc.info.passwordRcon")}}</td>
                    <td>{{serverProperties["rcon.password"]}}</td>
                </tr>
                <tr>
                    <td>{{$t("server.mc.info.onlineMode")}}</td>
                    <td class="green-text" v-if="serverProperties['online-mode']">{{$t("server.mc.info.on")}}</td>
                    <td class="red-text" v-if="!serverProperties['online-mode']">{{$t("server.mc.info.off")}}</td>
                </tr>
            </table>
            <p v-if="!isLoading && !serverProperties">
                {{$t("server.mc.info.configNotFound")}}
            </p>
        </div>
    </div>
</div>
