<div class="col s12">
    <h3 class="white-text thin-text">{{ $t("general.notfound") }}</h3>
    <div class="row">
        <div class="col s12 l6">
            <div class="card white z-depth-2">
                <div class="card-image">
                    <img src="cat.gif">
                </div>
                <div class="card-content">
                    <p>
                        {{ $t("general.notfoundNote") }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>