<ul class="right">
    <li v-if="routeContains('mc/')">
        <a class="dropdown-button hide-on-small-only" data-activates="user-dropdown"><span>Menu serwera</span><i class="mdi-navigation-more-vert right"></i></a>
        <a class="dropdown-button hide-on-med-and-up" data-activates="user-dropdown"><i class="mdi-navigation-more-vert"></i></a>
        <ul id="user-dropdown" class="dropdown-content">
            <li><a href="#/mc/{{route.params.id}}/console">Konsola</a></li>
            <li><a href="#/mc/{{route.params.id}}/sftp">SFTP</a></li>
            <li><a href="#/mc/{{route.params.id}}/autorestart">Autorestart</a></li>
            <li><a href="#/mc/{{route.params.id}}/java">Java</a></li>
            <!--<li><a href="#/mc/{{route.params.id}}/files">Pliki</a></li>-->
            <!--<li><a href="#/mc/{{route.params.id}}/stats">Statystyki</a></li>-->
            <!--<li class="divider"></li>-->
        </ul>
    </li>
     <li v-if="routeContains('ts3/')">
        <a class="dropdown-button hide-on-small-only" data-activates="user-dropdown"><span>Menu serwera</span><i class="mdi-navigation-more-vert right"></i></a>
        <a class="dropdown-button hide-on-med-and-up" data-activates="user-dropdown"><i class="mdi-navigation-more-vert"></i></a>
        <ul id="user-dropdown" class="dropdown-content">
            <li><a href="#/ts3/{{route.params.id}}/console">Konsola</a></li>
            <li><a href="#/ts3/{{route.params.id}}/sftp">SFTP</a></li>
            <li><a href="#/ts3/{{route.params.id}}/autorestart">Autorestart</a></li>
        </ul>
    </li>
</ul>