<div class="col s12">

    <div class="row">
        <div class="col s12">
            <h4 class="white-text thin-text">Zmień hasło do swojego konta</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center">
            <div class="z-depth-2 col s12 l8 white">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input type="password" name="oldpassword" id="oldpassword" v-model="oldpassword" maxlength="30" required>
                    <label for="oldpassword">Stare hasło</label>
                </div>
                <div class="input-field col s12">
                    <i class="mdi-communication-vpn-key prefix"></i>
                    <input type="password" name="pasword" id="password" v-model="password" maxlength="30" required>
                    <label for="password">Nowe hasło</label>
                </div>
                <br>
                <br>
                <br>
                <div class="center-btn">
                    <button v-on="click: changePassword" type="submit" class="waves-effect waves-light btn green" id="registrovatse"><i class="mdi-action-done left"></i>Zmień hasło</button>
                </div>
                <br>
            </div>
        </div>
    </div>

</div>