<div class="col s12">
    <div class="row">
        <div class="col s12">
            <div class="card-panel white z-depth-2">
                <h5>Propozycje?</h5>
                <p>
                    Chcesz zgłosić propozycję nowej funkcji lub znalazłeś błąd? Napisz na naszym <a target="_blank" class="green-text" href="http://forum.aimpanel.pro">forum</a> :)
                </p>
                <h5>Jak zaktualizować panel do najnowszej wersji?</h5>
                <p>
                    Wystarczy przez SSH wykonać aktualizację systemu na koncie root przez komendę:
                <blockquote class="copypaste">
                    apt-get update && apt-get upgrade -y
                </blockquote>
                </p>
            </div>
        </div>
    </div>
</div>