<div class="col s12">
    <div class="row">
        <div class="col s12">
            <div class="card-panel white z-depth-2">
                <h5>{{$t("home.helpHeader")}}</h5>
                <p>
                    {{$t("home.helpDesc")}} <a class="green-text" target="_blank" href="http://forum.aimpanel.pro">http://forum.aimpanel.pro</a> :)
                    <br>
                    {{$t("home.manualDesc")}}
                    <a class="green-text" target="_blank" href="http://aimpanel.pro/en/docs/">http://aimpanel.pro/docs</a>
                </p>
                <h5>{{$t("home.updateHeader")}}</h5>
                <p>
                    {{$t("home.updateDesc")}}
                </p>
                <blockquote class="copypasta">
                    apt-get update && apt-get dist-upgrade -y
                </blockquote>
                </p>
            </div>
        </div>
    </div>
</div>